:root{
    --mublue-very-soft: #E0FBFC;
    --mublue-soft: #98C1D9;
    --mublue: #3D5A80;
    --mublue-hard: #293241;
    --musalmon: #EE6C4D;
}

.salmon{
    background-color: var(--musalmon);
    color: black;
}

.container-faq{
    background-color: var(--mublue-soft);
}

#create-faq-btn{
    float: right;
}

