:root{
    --mublue-very-soft: #E0FBFC;
    --mublue-soft: #98C1D9;
    --mublue: #3D5A80;
    --mublue-hard: #293241;
    --musalmon: #EE6C4D;
}

.logout-message{
    background-color: lightgreen;
    width: fit-content;
    margin: 2vh;
}

.invalid-message{
    background-color: rgb(250, 82, 82);
    width: fit-content;
    margin: 2vh;
}

.btn-login{
background-color: var(--musalmon);
color: black;
}

.btn-register{
    background-color: lightgray;
    color:black;
}

img{
    max-width:100%;
    height: auto;
}