<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle">Chart</title>
</head>
<body>
    <header th:replace="include.html :: headercontent"></header>
    <canvas id="chart-can" width="400" height="400"></canvas>
    <footer th:replace="include.html :: footercontent"></footer>
</body>
<script th:inline="javascript">
    var labels = /*[[${key}]]*/ [];
    var data = /*[[${value}]]*/ [];
    var name = '[[${name}]]';
    name = name.replace(/["']/g, "");
    var chartType = '[[${type}]]';
    chartType = chartType.replace(/["']/g, "");
    
        var data = {
            labels: labels,
            datasets: [{
                label: name,
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: data,
            }]
        };
        
        var config = {
        type: chartType,
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            maintainAspectRatio: true
        }
        };
    
        var myChart = new Chart(
            document.getElementById('chart-can'),
            config
        );
</script>
</html>