<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle">FAQ</title>
</head>

<body>
    <header th:replace="include.html :: headercontent"></header>
    <div class="container bg-white mt-3 mb-3 p-3 border">
        <div class="row justify-content-center ">
            <h3 class="p-3">FREQUENTLY ASKED QUESTIONS</h3>
            <div class="accordion col border-right-0 col-lg-6" id="accordionExample">

                <div th:each="listFaq, iterator: ${faqs}" class="accordion-item">
                    <h2 class="accordion-header"  th:attr="id='heading'+${iterator.index}">
                        <button class="accordion-button" th:classappend="${!iterator.first}? collapsed" type="button" data-bs-toggle="collapse"
                        th:attr="data-bs-target='#collapse'+${iterator.index} ,
                                aria-expanded=${iterator.first}?'true' : 'false' ,
                                aria-controls='collapse'+${iterator.index}" 
                        th:text="${listFaq.question}">
                        </button>
                    </h2>
                    <div th:attrappend="id='collapse'+${iterator.index} , aria-labelledby='heading'+${iterator.index}" class="accordion-collapse collapse" th:classappend="${iterator.first}? show"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body" th:text="${listFaq.answer}">
                        </div>
                        <div sec:authorize= "hasAnyRole('ADMIN','WORKER')" class="accordion-footer d-flex justify-content-end me-2 mb-2">
                            <form name="faq-delete" th:action="@{'/faq/delete?id=' + ${listFaq.faqid}}"  method="post">
                                <button type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash fluid" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg></button>
                            </form>
                            <!--<a th:href="@{'/faq/delete?id=' + ${listFaq.faqid}}">/delete?id=' + ${listFaq.id}}-->
                                
                            </a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            How many days do I have to enjoy the reserved object?
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            It depends on the item you want to book, for computers and electronic
                            gadgets maximum of 15 days, for books a maximum of 10 days.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            Can I get multiple items booked?
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that
                            just about any HTML can go within the <code>.accordion-body</code>, though the transition
                            does
                            limit
                            overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Accordion Item #4
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that
                            just about any HTML can go within the <code>.accordion-body</code>, though the transition
                            does
                            limit
                            overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            Accordion Item #5
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes
                            control the overall appearance, as well as the showing and hiding via CSS transitions. You
                            can
                            modify any of this with custom CSS or overriding our default variables. It's also worth
                            noting
                            that
                            just about any HTML can go within the <code>.accordion-body</code>, though the transition
                            does
                            limit
                            overflow.
                        </div>
                    </div>
                </div>
                -->
            </div>
            <div sec:authorize= "hasAnyRole('ADMIN','WORKER')" class="faq-creation-form col-lg mt-4 mt-lg-0">
                <form name="faq-form" th:action="@{/faq/add}" th:object="${faq}" method="post">
                    <div class="form-group mb-3">
                        <label for="questionInput">Question</label>
                        <input type="text" class="form-control" id="questionInput" placeholder="Write a new question..." th:field="*{question}"
                            required>
                    </div>
                    <div class="form-group mt-3 mb-3">
                        <label for="answerInput">Answer</label>
                        <textarea class="form-control" id="answerInput" rows="3" placeholder="Write here the answer" th:field="*{answer}"
                            required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary salmon" id="create-faq-btn">Create FAQ</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="include.html :: footercontent"></footer>
</body>

</html>