<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="include.html :: headerfiles">
     <title id="Ptitle">Login</title>
</head>

<body>
    <div class="container mt-3 mb-3 p-3 bg-white border rounded">
        <div id="login">
            <div class="container">
                <div class="notify-messages">
                    <div th:if="${param.error}">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>
                </div>
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form name="login-form" th:action="@{/login_process}" method="post">
                                <!--Cambiado name=f a name=login-form....-->
                                <div class="logo-header col">
                                    <img src="/images/logo_web.png" alt="MUBook logo with text"
                                        class="mx-auto d-block" />
                                </div>
                                <div class="form-group">
                                    <label for="txtUsername">Username</label>
                                    <input type="text" id="txtUsername" name="txtUsername" placeholder="Username"
                                        class="form-control">
                                </div>
                                <label for="txtPassword">Password</label>
                                <input type="password" id="txtPassword" name="txtPassword" placeholder="Password"
                                    class="form-control">
                                <div class="form-group">
                                    <label for="checkRememberMe" class="text-info"><span>Remember me</span> <span>
                                            <input id="checkRememberMe" name="checkRememberMe"
                                                type="checkbox"></span></label><br>
                                    <div class="buttons-div d-flex justify-content-center m-3">
                                        <input type="submit" name="submit" class="btn btn-register m-2"
                                            value="Register">
                                        <input type="submit" name="submit" class="btn btn-login m-2" value="Login">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>