<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle">Reservation</title>
</head>

<body>
    <header th:replace="include.html :: headercontent"></header>
    <div class="container rounded bg-white mt-3 mb-3 border center">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center m-2">Reservation Details</h3>
            <div class="col-lg-4 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <h5 th:text="'BOOK'+${itemModel.name}">BOOK - Title1</h5>
                    <h6 th:text="'Your book ID: '${reserve.item_id}">Your book ID: <b>564561</b></h6>
                    <div class="user-img-div">
                        <img class="mt-5 img-fluid" src="../static/images/computadora.png" alt="Item image">
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="ratings"> <i class="fa fa-star rating-color"></i> <i
                                class="fa fa-star rating-color"></i> <i class="fa fa-star rating-color"></i> <i
                                class="fa fa-star rating-color"></i> <i class="fa fa-star"></i> </div>
                        <h5 class="review-count">6 Reviews</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 align-items-center border-right">
                <div class="row m-4 details-div">
                    <h4 class="mb-2">Item Details</h4>
                    <div class="col m-3">
                        <div class="row each-specification-div shadow-sm p-1 mb-2 bg-body rounded">
                            <label class="text-dark">Book ID: </label> <label th:text="${itemModel.item_model_id}">564561</label>
                        </div>
                        <div class="row each-specification-div shadow-sm p-1 mb-2 bg-body rounded">
                            <label class="text-dark">Author: </label> <label>JK Rowling</label>
                        </div>
						<div class="row each-specification-div shadow-sm p-1 mb-2 bg-body rounded">
                            <label class="text-dark">Book Genre: </label> <label>Science fiction</label>
                        </div>
                    </div>
					<div class="col m-3">
                        <div class="row each-specification-div shadow-sm p-1 mb-2 bg-body rounded">
                            <label class="text-dark">Book ID: </label> <label>564561</label>
                        </div>
                        <div class="row each-specification-div shadow-sm p-1 mb-2 bg-body rounded">
                            <label class="text-dark">Author: </label> <label>JK Rowling</label>
                        </div>
						<div class="row each-specification-div shadow-sm p-1 mb-2 bg-body rounded">
                            <label class="text-dark">Book Genre: </label> <label>Science fiction</label>
                        </div>
                    </div>
                    <div class="start-date-div">
                        <h4 class="mb-2">Start Date</h4>
                        <label class="m-2" th:text="${reserve.init_date}">04/02/2022</label>
                    </div>
                    <div class="end-date-div">
                        <h4 class="mb-2">End Date</h4>
                        <label class="m-2" th:text="${reserve.init_date}">14/02/2022</label>
                    </div>
                </div>
                <div class="row m-4 descripion-div">
                    <h6>Annotation</h6>
                    <textarea class="form-control mt-2" id="textAreaExample" rows="3" style="min-height:100px;height:100%;width:100%;">
                    </textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="col-2 btn btn-dark m-2 d-flex justify-content-center" href="reservation.html" role="button">BOOK NOW</a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="include.html :: footercontent"></footer>
</body>

</html>