<!doctype html>
<html lang="en">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle" th:text="#{searchItems.htmlTitle}"></title>
</head>

<body class="searchBody">
<header th:replace="include.html :: headercontent"></header>
<div class="container border bg-white rounded">
    <div class="filterMenu">
        <div class="filters container">
<!--ITEM TYPE SELECTION-->
            <div>
                <br>
                <h4 id="defaultSearchTitle" th:if="${itemTypes != null}">Filter by Item Type</h4>
                <h4 id="itemTypeSearch" th:if="${actualItemType != null}" th:text="'Item Type: ' + ${actualItemType.description}"></h4>
                <hr>
            </div>

            <div class="mt-2 col-md-12" th:each="itemType : ${itemTypes}">
                <a th:href="@{/search/} + ${itemType.description}">
                    <button class="btn btn-secondary" th:text="${itemType.description}" style="font-size: 15px"></button>
                </a>
            </div>
<!----------------------->
<!---FILTERS SELECTION--->
            <div class="especification-filters d-md-flex justify-content-center row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-2">
                <!--FOR EACH-->
                <div class="d-flex flex-row justify-content-center align-items-baseline" th:each="entry : ${specifications}">
                    <select class="m-3 selectpicker border border-secondary rounded" multiple
                            th:attr="title=${entry.key.description}, data-actions-box=true, specid=${entry.key.specificationId}">
                        <option class="filterCheckBox" th:each="especValue : ${entry.value}" th:text="${especValue}"></option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" th:if="${specifications!=null}" id="filterButton" style="font-size: 15px">Filter</button>
            </div>
<!----------------------->
<!-----CREATE BUTTON----->
            <div class="createButton d-flex justify-content-center p-3">
                <a th:href="@{/itemModel/add}">
                    <button sec:authorize="hasAnyRole('ADMIN','WORKER')" type="button"
                            class="btn btn-lg btn-block salmon" th:text="#{searchItems.createItem}"></button>
                </a>
            </div>
        </div>
<!----------------------->
<!----ITEM MODEL SHOW---->
        <div class="py-5">
            <div class="container">
                <div id="resultBlock" class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-lg-4 d-flex justify-content-center gap-3">
                    <!--<div th:each="itemModel: ${itemModels}" class=" card col mb-4 shadow-sm p-0">
                        <a th:href="'/itemModel/view/'+${itemModel.itemModelId}" class="text-decoration-none text-dark">
                            <img class="card-img-top img-fluid" th:src="@{${itemModel.img}}"
                                 alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${itemModel.name}">This is the book Title</h5>
                                <div class="p-1" th:each="specificationList: ${itemModel.specificationLists}">
                                    <p class="m-0" th:text="${specificationList.specification.description}+' : ' +${specificationList.value}"></p>
                                </div>
                            </div>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
<!----------------------->
<!-----PAGE SELECTION---->
        <div class="form-group w-25 p-3" id="pageSelector">
            <label for="selectPage">Select Page: </label>
            <select class="form-control" name="page" id="selectPage">
                <!--<option th:each="i: ${#numbers.sequence(1, pages)}" th:text="${i}"></option>-->
            </select>
        </div>
<!----------------------->
    </div>
</div>

<footer th:replace="include.html :: footercontent"></footer>

</body>