<!doctype html>
<html lang="en">

    <head th:replace="include.html :: headerfiles">
        <title id="Ptitle">Users</title>
    </head>

<body class="userBody">
<header th:replace="include.html :: headercontent"></header>
    <div class="container border bg-white ">
        <div class="filterMenu">
            <div class="text center d-md-flex flex-row justify-content-center">

                <div class="searchBars text-center d-md-flex flex-row p-3">
                    <div class="main-search-input-wrap p-1">
                        <div class="main-search-input fl-wrap">
                            <div class="main-search-input-item d-inline"> <input type="text" value=""
                                    placeholder="Search user"> </div>
                            <button id="searchUserButton" class="main-search-button d-inline">Search</button>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex flex-row p-3 justify-content-center align-items-baseline gap-3">
                    <p>User type:</p>
                    <select class="form-select w-50" id="selectUserTpe">
                        <optgroup label="Select user type">
                            <option selected> - </option>
                            <option th:value="${userType.userTypeId}" th:text="${userType.description}" th:each="userType:${userTypes}"></option>
                        </optgroup>
                    </select>
                </div>

            </div>

            <div class="createButton d-flex justify-content-center p-3">
                <a type="button" class="btn btn-lg btn-block salmon" href="/user/create">Create User</a>
            </div>
        </div>

        <div class="py-5">
            <div class="container">
                <div id="resultBlock" class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-lg-4 d-flex justify-content-center gap-3">
                    <!--<div class=" card col mb-4 shadow-sm p-0" th:each="user : ${users}">
                        <a th:href="'/user/'+${user.userId}+'/edit/'" class="text-decoration-none text-dark">
                            <img class="card-img-top img-fluid" src="/static/images/ItemImages/userIcon.png"
                                alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${user.userId}"></h5>
                                <div class="p-1">
                                    <p class="m-0" th:text="'Name: ' + ${user.name}"></p>
                                    <p class="m-0" th:text="'Surname: ' + ${user.surname}"></p>
                                    <p class="m-0" th:text="'Username: ' + ${user.username}"></p>
                                    <p class="m-0" th:text="'Email: ' + ${user.email}"></p>
                                </div>
                            </div>
                        </a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
<!--Select page-->
    <div class="form-group w-25 p-3" id="pageSelector">
        <label for="selectPage">Select Page: </label>
        <select class="form-control" name="page" id="selectPage">
            <!--<option th:each="i: ${#numbers.sequence(1, pages)}" th:text="${i}"></option>-->
        </select>
    </div>
<!--------------->
<footer th:replace="include.html :: footercontent"></footer>
</body>

</html>