<!doctype html>
<html lang="en">

<head th:replace="include.html :: headerfiles">
    <title id="Ptitle">Search</title>
</head>

<body class="searchBody">
    <header th:replace="include.html :: headercontent"></header>
    <div class="container border bg-white rounded">
        <div class="filterMenu">

            <div class="filters container">

                <!--<form form th:action="@{/search/} + ${itemType.description}" method="get">
                    <div class="d-flex flex-row justify-content-center align-items-baseline">
                        <p>Type:</p>
                        <select class="form-select w-25 m-3">
                            <optgroup label="Select item type">
                                <option selected> - </option>
                                <option th:each="itemType : ${itemTypes}"></option>
                            </optgroup>
                        </select>
                    </div>
                </form>-->
                <div th:each="itemType : ${itemTypes}">
                    <form th:action="@{/search/} + ${itemType.description}" method="get">
                        <input type="submit" th:value="${itemType.description}" style="font-size: 15px"
                               th:name="buttonType"></input>
                    </form>
                </div>
                <div class="especification-filters d-md-flex justify-content-center row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-2">

                    <!--FOR EACH-->
                    <div class="d-flex flex-row justify-content-center align-items-baseline" th:each="entry : ${specifications}">
                        <select class="form-select m-3">
                            <option selected disabled th:text="${entry.key.description}"></option>
                            <option th:each="especValue : ${entry.value}" th:text="${especValue}"></option>
                        </select>
                    </div>

        </div>

        <div class="createButton d-flex justify-content-center p-3">
            <a type="button" class="btn btn-lg btn-block salmon" href="/itemModel/add">Create Item</a>
        </div>
    </div>


    <div class="py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-lg-4 d-flex justify-content-center gap-3">

                <div th:each="itemModel: ${itemModels}" class=" card col mb-4 shadow-sm p-0">
                    <a th:href="'/itemModel/'+${itemModel.itemModelId}+'/view'" class="text-decoration-none text-dark">
                        <img class="card-img-top img-fluid" th:src="@{${itemModel.img}}"
                            alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title" th:text="${itemModel.name}">This is the book Title</h5>
                            <div class="p-1" th:each="specificationList: ${itemModel.specificationLists}">
                                <p class="m-0" th:text="${specificationList.specification.description}+' : ' +${specificationList.value}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer th:replace="include.html :: footercontent"></footer>

</body>