<!DOCTYPE html>
<html lang="en">
<head th:replace="include.html :: headerfiles">
    <title id="Ptitle">Search</title>
</head>
<body>
<header th:replace="include.html :: headercontent"></header>

<img src="images/Logos/logo_prueba.png" alt="logo prueba">
<div id="ItemTypesSelection">
    <div th:each="itemType : ${itemTypes}">
        <a th:href="@{/search/} + ${itemType.description}">
            <button th:text="${itemType.description}" style="font-size: 15px"></button>
        </a>
    </div>
</div>
<br><br><br>
<div id="SpecificationSelection">
    <form th:action="@{/ajax/filter/} + ${actualItemType}" method="get">
        <div th:each="entry, stat : ${specifications}">
            <h4 th:text="${entry.key.description}"></h4>
            <ul>
                <li th:each="especValue : ${entry.value}">
                    <input type="checkbox" th:text="${especValue}" th:value="${especValue}" th:name="${entry.key.specificationId}"></input>
                </li>
            </ul>
        </div>
        <button type="submit" id="filterButton" style="font-size: 15px">Filter</button>
    </form>
</div>
<br><br><br>

<script th:inline="javascript">
    $(document).ready(function(){
        $("#filterButton").submit(function(e){
            e.preventDefault(); // avoid to execute the actual submit of the form.

            let form = $(this);
            let actionUrl = form.attr('action');

            $("#resultBlock").load('/ajax/filterItemModels', form.serialize(),);
        });
    });
</script>


<div id="resultBlock" th:fragment="resultBlock" style="display: grid; width: calc(100% - 4rem); margin: 0 2rem; grid-template-columns: 1fr 1fr 1fr">
    <div th:each="itemModel : ${itemModels}">
        <button th:text="${itemModel.name}" style="font-size: 15px"></button>
    </div>
</div>

<footer th:replace="include.html :: footercontent"></footer>
</body>
</html>